:root {
  --clr-primary-pale-blue: #1F2E55;
  --clr-primary-bright-blue: hsl(245, 75%, 52%);
  --clr-neutral-pale-blue: #717FA6;
  --clr-neutral-desaturated-blue: hsl(224, 23%, 55%);
  --clr-neutral-dark-blue: hsl(223, 47%, 23%)

  --fs-main: 16px;

  --ff-primary:'Red Hat Display', sans-serif;

  --br-primary: 1rem;

  --mr-small:1.5rem;
  --mr-medium:1.875rem;
  --mr-big:2.5rem;
}
